@import '/src/styles/style.css';

.button {
  width: 100%;
  border-radius: 4px;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  height: 40px;
  font-size: 15px;
  color: var(--text-main-color);
  background-color: var(--kakao-main-color);
  border: none;
}

.button.kakao {
  background-color: var(--kakao-main-color);
  color: var(--text-main-color);
}

.button.default {
  background-color: pink;
  color: var(--text-white-color);
}

.button.small {
  width: 120px;
  font-size: 12px;
}
.button.large {
  width: 180px;
  font-size: 15px;
}

@media (min-width: 768px) {
  .button.responsive {
    flex-grow: 1;
  }
}
