.button {
  width: 100%;
  border-radius: 4px;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  height: 40px;
  font-size: 15px;
  color: rgb(17, 17, 17);
  background-color: rgb(254, 229, 0);
  border: none;
}

.button.kakao {
  background-color: #fee500;
  color: #000000;
}

.button.default {
  background-color: pink;
  color: #ffffff;
}

.button.small {
  width: 120px;
  font-size: 12px;
}
.button.large {
  width: 180px;
  font-size: 15px;
}

@media (min-width: 768px) {
  .button.responsive {
    flex-grow: 1;
  }
}
