@import '/src/styles/style.css';

.underline-textfield {
  box-sizing: border-box;
  color: var(--text-main-color);
  transition: border-color 200ms ease 0s;
  border-style: solid;
  min-height: 42px;
  font-size: 18px;
  line-height: 1.5;
  padding: 9px 0px;
  border-width: 0px 0px 1px;
  border-color: var(--border-main-color);
}

.underline-textfield.invalid {
  border-bottom-color: red;
}

.underline-textfield:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.underline-textfield:focus {
  outline: none;
  border-color: var(--text-main-color);
}

.underline-textfield.small {
  font-size: 14px;
}

.underline-textfield.large {
  font-size: 18px;
}

@media (min-width: 768px) {
  .underline-textfield.responsive {
    width: 100%;
    max-width: 500px;
  }
}
