.storybook-input {
    border: none;
    border-bottom: 1px solid rgb(193, 193, 193);
    font-size: 15px;
    width: 75vw;
    padding: 10px 0;
    outline: none;
    transition: border-color 0.5s ease;
}

.storybook-input::placeholder {
    color: rgb(123, 123, 123);
}

.storybook-input--disabled::placeholder {
    color: rgb(193, 193, 193);
}

.storybook-input--invalid {
    border-bottom-color: red;
}

.storybook-input--small {
    width: 50vw;
}

.storybook-input--medium {
    width: 65vw;
}

.storybook-input--large {
    width: 75vw;
    border-bottom-width: 2px;
    font-size: 17px;
}

@media (max-width: 600px) {
    .storybook-input--responsive {
        width: 50vw;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    .storybook-input--responsive {
        width: 65vw;
    }
}

@media (min-width: 1025px) {
    .storybook-input--responsive {
        width: 75vw;
        border-bottom-width: 2px;
        font-size: 17px;
    }
}