.storybook-header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.storybook-header h1 {
  font-size: 20px;
  margin: 0;
}

.storybook-header svg {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

.welcome {
  font-size: 14px;
  margin-right: 10px;
}
