.storybook-image {
  overflow: hidden;
}
.storybook-image img {
  width: 100%;
  height: auto;
}
.storybook-image--16-9 {
  padding-top: 56.25%;
  position: relative;
}
.storybook-image--16-9 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.storybook-image--square {
  padding-top: 100%;
  position: relative;
}
.storybook-image--square img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}